@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@1,700&display=swap");

body{
  background-image: url("image/font.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.rect{
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  top: 400px;
  left: 500px;
  border: 3px solid #03ff03;
}

.main2{
  position: absolute;
  font-size: 24px;
  color: #FFFFFF;
}
#text1{
  position: absolute;
  left:560px;
  top:450px;
  text-decoration:underline;
  text-align: center;

}
#text2{
  position: absolute;
  left: 910px;
  top:430px;
  text-align: center;
  text-decoration:underline;
}
#text3{
  position: absolute;
  left:1240px;
  top:430px;
  text-align: center;
  text-decoration:underline;
}
.sec2{
  display: block;
  width: 4040px;
  height: 1000px;
  background-image: url(/image/fon2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top:920px;

}
.sec2 img{
  display: flex;
  position: 
  top:100px;

}
#img1{
  position: absolute;
  left: 400px;

}
#img2{
  position: absolute;
  left: 800px;
}
#img3{
  position: absolute;
  left: 1200px;
}
#text5{
  z-index: 1;
  position: absolute;
  color: #FFFFFF;
  font-size: 29px;
  text-align: center;
  left:1250px;
  top:230px;
  text-decoration:none;
}
#text4{

}
#text6{

}

main p{
  position:absolute;
  font-size: 18px;
  font-family: Arial;
  left: 410px;
  top: 400px;
  color: #FFFFFF;
}
#ytlogo1{
  position: absolute;
  left: 310px;
  top: 400px;
}
header{
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 165px;
  
  align-items: center;
  justify-content: center;
}
#parts{
  position: absolute;
  right: 350px;
}
#logo{
  position:absolute;
  margin: auto;

  bottom: -25px;
  left: 75px;
  animation-delay:3s;
  animation-fill-mode:forwards;
  animation-direction:alternate;
    
    
    

  animation-name: individualanimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease ;
  animation-direction:alternate;
}
#logo:hover{
    animation-play-state:paused;
}
    
@keyframes individualanimation {
    0%{
        transform:scale(0);

    }
    100%{
        transform:scale(1.5);
        background-color: red;
    }
}
#bigtext{
  font-size: 76px;
  line-height: 98px;
  margin:0;
  padding-left:200px ;
  padding-top: 100px;
  font-family: "Roboto";
  font-style: italic;
  color: #FFFFFF;
  left: 100px;
	text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;
}

header a {
  line-height: 700px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 32px;
  font-family: "Open Sans";
  font-size: 15px;
  text-shadow: 4px 4px 2px rgba(5, 5, 5, 1);

}
#line{
  position: absolute;
  top:100px;
  left:-5px;
}
main{
  position:absolute;
}
